TELEGRAM_BOT_TOKEN=
SECRET_KEY=replace_with_at_least_32_characters_secret
DATABASE_URL=postgresql+psycopg2://<db_user>:<db_password>@localhost:5432/friendly_map
ACCESS_TOKEN_EXPIRE_MINUTES=1440
TELEGRAM_AUTH_MAX_AGE_SECONDS=300
TELEGRAM_BOT_USERNAME=FrendlyMapBot
